<div id="sidebar">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" mode="side" fixedInViewport="true" fixedTopGap="64" opened>
            <!-- <mat-sidenav class="sidenav" mode="side" fixedInViewport="true" fixedTopGap="64">-->


            <mat-nav-list>
                <div class="profile-card">
                    <div class="profile-card-header">
                        <h3>Ráfion User</h3>

                    </div>
                    <img src="assets\img\angularImg.png" class="profile_image" alt="">

                </div>

                <mat-divider></mat-divider>

                <h2 matSubheader>Menu</h2>

                <a mat-list-item>
                    <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard'  }}
                </a>
                <a mat-list-item>
                    <mat-icon class="sidenav-icon">build</mat-icon> {{ 'Screen1'  }}
                </a>
                <a mat-list-item>
                    <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Screen2'  }}
                </a>
                <mat-divider></mat-divider>

                <h2 matSubheader>Tools</h2>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
                    <mat-icon>import_contacts</mat-icon>
                    Contacts
                </a>

                <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
                    <mat-icon>contact_phone</mat-icon>
                    Leads
                </a>

            </mat-nav-list>
        </mat-sidenav>

        <div class="main-container">
            <mat-sidenav-content class="content">
                <router-outlet></router-outlet>
            </mat-sidenav-content>

        </div>
        -
    </mat-sidenav-container>
</div>