<mat-toolbar color="primary" class="fix-nav" class="mat-app-background" [ngClass]="{'dark-theme-mode':isDarkTheme}">
    <button type="button" mat-icon-button class="visible-sm" (click)="toggleSidebar()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span class="logo">
        <a routerLink=''>Pedidos APP -</a>
    </span>
    <span class="nav-brand">

        <a routerLink="{{routerUrl}}">
            <i class="material-icons">{{icon}}</i>
            {{title}}
        </a>
    </span>

    <span class="nav-spacer"></span>
    <form class="hidden-sm" style="margin-left: 20px; margin-top: 5px">
        <mat-form-field>

            <input matInput type="search" [placeholder]="'Search' ">

        </mat-form-field>
    </form>



    <mat-slide-toggle [(ngModel)]="isDarkTheme" labelPosition="before" (change)="storeThemeSelection()">
        <mat-icon>bedtime</mat-icon>
    </mat-slide-toggle>


    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="language">
        <mat-icon>language</mat-icon>
    </button>
    <mat-menu #language="matMenu">
        <button mat-menu-item>
            <span>{{ 'English' }}</span>
        </button>
    </mat-menu>
    <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
        <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #profile="matMenu">
        <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>{{ 'Profile' }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>inbox</mat-icon>
            <span>{{ 'Inbox' }}</span>
        </button>
        <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>{{ 'Settings' }}</span>
        </button>
    </mat-menu>
    <button mat-icon-button (click)="alertDelete()">
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>