.sidenav-container {
  margin-top: 55px; 
    height: 100%;
}

.sidenav {
    width: 230px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
    margin-top: 50px;
}
.topnav-icon {
    text-decoration: none;
    display: flex;
    color: #fff;
}

.sidenav-icon {
    text-decoration: none;
    padding: 0 1px;
}

.nav-spacer {
    flex: 1 1 auto;
}

.mat-expansion-panel-header {
  
  padding-left: 15px;
}






.mat-icon {
    vertical-align: middle;
    margin-right: 10px;
  }
  
  .profile-card {
      text-align: center;
      padding: 0 10px 10px 10px;
     margin: 10px;

      
    }
    .profile-card .profile-card-header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
     
      
    }

    .profile-card    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      
      margin-top: -15px;
     
    }

    .profile-card .profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50px;
      margin-bottom: 0px;
    }
    
    .content {
      padding: 16px;
      background-color: #FFF;
  }
  
  .push-right {
    left: -200px;
    transition: .5s;
}

.main-container{
  margin-top: 10px; 
  padding-left: 5px;
 
}

.button-menu{
  margin-left: 10px;
}
.button-menu-item {
  margin-left: 50px
}




/* testes sidenav*/
.spacer {
  flex: 1 1 auto;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*
mat-sidenav {
  width: 250px;;
}

*/
.circle {
  border-radius: 50%;
}

.with-bg {
  /*background: url('../../assets/images/office.jpg') no-repeat center;*/
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: 130px;
}

.no-shadow {
  box-shadow: none !important;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0px !important;
  padding-left: 10px !important;
}

.header-box-shadow {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

.bottom-to-top {
  border: 0px;
  border-right: 1px;
  border-style: solid;
  border-image:
  linear-gradient(to top, #c1c1c1, rgba(0, 0, 0, 0)) 1 100%
}