<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
        [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
        <mat-nav-list>
            <div class="profile-card">
                <div class="profile-card-header">
                    <h3>Ráfion User</h3>
                </div>
                <img src="assets\img\angularImg.png" class="profile_image" alt="">
            </div>
            <mat-divider></mat-divider>

            <h2 matSubheader>Menu</h2>
            <!-- teste menu-->

            <!-- fim menu-->
            <mat-divider></mat-divider>
            <mat-accordion multi="true" [displayMode]="displayMode">


                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/participantes']">
                    <mat-icon class="sidenav-icon">people</mat-icon> Clientes
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/agenda']">
                    <mat-icon class="sidenav-icon">event_note</mat-icon> Agenda
                </a>


                <mat-expansion-panel class="no-shadow">
                    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight"
                        [collapsedHeight]="collapseHeight">
                        <mat-panel-title>
                            <mat-icon class="sidenav-icon">shopping_cart</mat-icon> Produtos e Serviços
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="ml-0" dense>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/produtos']">
                            <mat-icon class="sidenav-icon">shopping_cart</mat-icon> Produtos
                        </a>
                    </mat-nav-list>
                    <mat-nav-list class="ml-0" dense>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/financeiro']">
                            <mat-icon class="sidenav-icon">view_compact</mat-icon> Departamentos
                        </a>
                    </mat-nav-list>
                    <mat-nav-list class="ml-0" dense>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/financeiro']">
                            <mat-icon class="sidenav-icon">picture_in_picture</mat-icon> Setores
                        </a>
                    </mat-nav-list>
                    <mat-nav-list class="ml-0" dense>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/financeiro']">
                            <mat-icon class="sidenav-icon">category</mat-icon> Grupos
                        </a>
                    </mat-nav-list>
                    <mat-nav-list class="ml-0" dense>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/financeiro']">
                            <mat-icon class="sidenav-icon">group_work</mat-icon> SubGrupos
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>



                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/categories']">
                    <mat-icon class="sidenav-icon">category</mat-icon> Categorias
                </a>
                <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/financeiro']">
                    <mat-icon class="sidenav-icon">add_shopping_cart</mat-icon> Compras
                </a>

                <mat-expansion-panel>
                    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight"
                        [collapsedHeight]="collapseHeight">
                        <mat-panel-title>
                            <mat-icon class="sidenav-icon">settings</mat-icon>Configurações
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="ml-0" dense>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/financeiro']">
                            Configurações
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-expansion-panel class="no-shadow">
                    <mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight"
                        [collapsedHeight]="collapseHeight">
                        <mat-panel-title>
                            <mat-icon class="sidenav-icon">save</mat-icon> Cadastros Gerais
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-nav-list class="ml-0" dense>
                        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/categories/new']">
                            Departamentos
                        </a>
                    </mat-nav-list>
                </mat-expansion-panel>

                <mat-divider></mat-divider>

            </mat-accordion>
        </mat-nav-list>
    </mat-sidenav>
    <main>
        <div class="main-container">
            <div *ngIf="loaderService.isLoading | async" class="loader-container">
                <mat-spinner style="top: 50%; left: 50%;"></mat-spinner>
            </div>
            <router-outlet></router-outlet>
        </div>
    </main>
</mat-sidenav-container>