<mat-card class="mat-card-form">
    <mat-card-content class="mat-content">
        <form>
            <span>
                <mat-form-field class="min-width">
                    <mat-label>ID</mat-label>
                    <input matInput type="number" name="id">
                </mat-form-field>

                <mat-form-field class="cod-width">
                    <mat-label>EAN</mat-label>
                    <input matInput placeholder="Codigo de barras" type="text" name="ean">
                </mat-form-field>

                <mat-form-field class="cod-width">
                    <mat-label>Referência</mat-label>
                    <input matInput type="text" name="referencia">
                </mat-form-field>

                <mat-form-field class="half-width">
                    <mat-label>Descricão</mat-label>
                    <input matInput type="text" name="descricao">
                </mat-form-field>
            </span>
            <div>
                <mat-form-field class="number-width">
                    <mat-label>Preço Venda</mat-label>
                    <input matInput type="number" name="preco_venda">
                </mat-form-field>

                <mat-form-field class="number-width">
                    <mat-label>Preço Compra</mat-label>
                    <input matInput type="number" name="preco_compra">
                </mat-form-field>

                <mat-form-field class="cod-width">
                    <mat-label>NCM</mat-label>
                    <input matInput type="text" name="ncm">
                </mat-form-field>
            </div>
        </form>
    </mat-card-content>
</mat-card>